@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

body {
  scroll-behavior: smooth;
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;

}

span {
  color: #a50000;
}

span:hover {
  color: #ea5e5e;
  cursor: pointer;
}

main {
  z-index: 1;
}

main p,
h1 {
  text-align: center;
  font-weight: 700;
  line-height: 20px;
}

main h1 {
  font-size: 48px;
  padding-bottom: 20px;
}

main p {
  font-size: 16px;
}


.wrapper {
  width: 100%;
  height: 100dvh;
  background: black;
}

.container-topo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.p-color {
  color: #ea5e5e;
}

.coracao {
  max-width: 77px;
  height: 77px;
  margin-left: 220px;
  margin-top: 170px;
  margin-bottom: 20px;
}

.seta {
  width: 71px;
  height: 71px;
  margin-left: 220px;
  margin-top: 240px;
  cursor: pointer;
}

.main-1 {
  display: flex;
}

.baloes {
  position: absolute;
  margin-top: 170px;
  margin-left: 450px;
}

/* Happy */

.happy-container {
  width: 100%;
  height: 870px;
  background: black;
}

.artigo2 p,
.artigo1 h1,
h2 {
  text-align: center;
}

.artigo2 p {
  max-width: 556px;
  font-weight: 700;
}

.balao {
  max-width: 199px;
}

.penguin {
  padding-left: 20px;
}

.artigo1 {
  padding-top: 100px;
}

.artigo1 h2 {
  font-size: 32px;
  font-weight: 700;
}

.artigo1 h1 {
  font-family: Rubik Doodle Shadow;
  font-size: 64px;
  font-weight: 400;
  color: #f00;
  padding-top: 10px;
  padding-bottom: 20px;
}

.artigo2 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seta2 {
  width: 71px;
  height: 71px;
  margin-top: 40px;
  cursor: pointer;
}

.setas {
  display: flex;
  justify-content: center;
}

/* Escolhas */

.escolha {
  width: 100%;
  height: 1000px;
  background: black;
}

.main-escolha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 240px;
}

.main-escolha h1 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 12px;
}

.main-escolha p {
  font-size: 12px;
  font-weight: 700;
}

.flex {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.quadrado1,
.quadrado2,
.quadrado3,
.quadrado4 {
  width: 300px;
  height: 286px;
  background: white;
  border-radius: 20px;
  margin-top: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex img {
  max-width: 30%;
  cursor: pointer;

}

.flex p {
  font-size: 16px;
  color: black;
  font-weight: 700;
  text-align: center;
  max-width: 286px;
}

.quadrado1 h1 a {
  max-width: 150px;
  color: #0048FF;
  text-decoration: none;
}

.flex h1 a {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.quadrado2 h1 a {
  color: #f00;
  text-decoration: none;
}

.quadrado3 h1 a {
  color: #FF0084;
  text-decoration: none;
}

.quadrado4 h1 a {
  color: #009A17;
  ;
  text-decoration: none;
}

.quadrado1 h1,
.quadrado2 h1,
.quadrado4 h1 {
  padding-top: 5px;
  padding-bottom: 13px;

}

.quadrado3 h1 {
  padding-top: 20px;
  padding-bottom: 13px;
}

.quadrado1 h1 a:hover,
.quadrado2 h1 a:hover,
.quadrado3 h1 a:hover,
.quadrado4 h1 a:hover {
  text-decoration: underline;

}